
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img2{
    width: auto;
    height: 150%;
    
}

.img1 {
    width: 150px;
    height: auto;
  mix-blend-mode: darken;
  position: absolute;
  top: 400px;
  left: 630px;
  animation: car 5s infinite; 
}

@keyframes car {
    0%{
        top: 400px;
    }
    
    100%{
        top: -100px;
    }
}